@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="container text-center mt-5">
    <h1 class="text-warning">Hakkımızda</h1>
    <p class="text-light">
        Bizler, kaliteli hizmeti müşterilerimize sunmayı hedefleyen bir ekibiz. Uzman ekibimizle hizmetinizdeyiz.
    </p>

    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel-images">
                <img src="/images/berber1.jpg" alt="Berber Resim 1" class="carousel-img" />
                <img src="/images/berber2.jpg" alt="Berber Resim 2" class="carousel-img" />
                <img src="/images/berber3.jpg" alt="Berber Resim 3" class="carousel-img" />
            </div>
            <button class="carousel-button prev">&lt;</button>
            <button class="carousel-button next">&gt;</button>
        </div>
    </div>
</div>
