@section Title {
 "Admin Paneli"
}
<h1>Admin Paneli</h1>
<ul>
    <li><a href="/AdminPanel/ManageEmployees">Çalışan Yönetimi</a></li>
    <li><a href="/AdminPanel/ManageServices">İşlem Yönetimi</a></li>
</ul>
